.centerPagination {
    text-align: center;
    background: rgb(36, 36, 36);
}

.pagination {
    display: inline-block;
    cursor: pointer;
}

.pagination .listPagination {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    list-style-type: none;
    border-radius: 25px;
}

.pagination .listPagination .active {
    /*color: white;*/
}

.pagination .listPagination:hover:not(.active) {
    background-color: #ddd;
    color: #282c34;
}

.btnWrapper {
    background: rgb(36, 36, 36);
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0;
}

